
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
h1{
  font-size: 25px;
}
